@import "normalize.scss";
@import "fonts";

$tablet: 1657px;
$mobile: 767px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@import "blocks/header";
@import "blocks/description";
